---

---

<div id="hero">
  <h1>
    Easily Convert Your <span class="accent">Score</span>
    <br />
    From<span class="accent"> CGPA</span> & <span class="accent">SGPA</span> to Percentage.
  </h1>
  <div class="mt-8 text-center">
    <p class="text-lg text-gray-700 text-center">
      SPPU Calculator is one stop destination for all the students of Savitribai
      Phule Pune University who wants to convert their scores from CGPA to
      percentage or SGPA to percentage. Using this website, you can easily
      convert your scores within a single click and get to know your score in
      percentage.
    </p>
  </div>
  <div class="mt-8">
    <button class="btn bg-[#48ffb2] mr-4 hover:bg-[#2c2c2c] hover:text-white"
      >About<span>&#8594;</span></button
    >
    <div
      class="flex flex-col md:flex-row md:space-x-40 space-y-4 md:space-y-0 justify-center mt-8"
    >
      <!-- Card 1 -->
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden max-w-sm">
        <img
          class="w-full h-48 object-cover border border-black-100 rounded-lg"
          src="/cgpa.svg"
          alt="Card Image"
        />
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">CGPA to Percent</h2>
          <a href="/cgpa-to-percentage-sppu/" class="btn bg-[#48ffb2]"
            >Calculate</a
          >
        </div>
      </div>
      <!-- Card 2 -->
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden max-w-sm">
        <img
          class="w-full h-48 object-cover border border-black-100 rounded-lg"
          src="/SGPA.svg"
          alt="Card Image"
        />
        <div class="p-6">
          <h2 class="text-xl font-bold mb-2">SGPA to Percent</h2>
          <a href="/sgpa-to-percentage-sppu/" class="btn bg-[#48ffb2]"
            >Calculate</a
          >
        </div>
      </div>
    </div>
    <style>
      #hero {
        padding: 2rem;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #f5fffa;
      }

      h1 {
        font-size: 4rem;
        letter-spacing: 0.5px;
        font-weight: 900;
        text-align: center;
        color: #2e2b23;
      }

      .accent {
        background: -webkit-linear-gradient(#48ffb2, #13ee97);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      body {
        text-align: center;
      }

      /* Responsive */
      @media only screen and (max-width: 576px) {
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
      }
    </style>
  </div>
</div>
