---

---

<div class="navbar bg-[#48ffb2] text-[#2c2c2c]">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 font-"
      >
        <li><a href="/cgpa-to-percentage-sppu/">CGPA to Percent</a></li>
        <li><a href="/sgpa-to-percentage-sppu/">SGPA to Percent</a></li>
      </ul>
    </div>
    <img src="/logo.svg" alt="Logo" class="h-8 lg:ml-8" />
    <a href="/" class="btn btn-ghost text-xl lg:mx-2">SPPU Calculator</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-bold">
      <li><a href="/cgpa-to-percentage-sppu/">CGPA to Percent</a></li>
      <li><a href="/sgpa-to-percentage-sppu/">SGPA to Percent</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal lg:mx-8">
      <li>
        <details>
          <summary class="bg-[#e5e5e5] rounded-lg">Tools </summary>
          <ul class="p-1 absolute bg-white rounded-lg shadow-lg right-0">
            <li><a href="https://tapcounter.top/">Tap Counter</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
